<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PublishersConnectionString2" connectionString="Server=localhost\MSSQLSERVER01;Database=Publishers;Integrated Security=True;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
		<add name="PublishersConnectionString" connectionString="Server=localhost;Database=Publishers;User Id=sa;Password=Pass.Word;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>