## Visual Studio / Rider local files
.vs/
.idea/

## Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## NuGet
*.nupkg
**/packages/
*.nuget.props
*.nuget.targets

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
