@namespace MauiLearningPlatform.Components.Exercises

<div class="markdown-content">
    <h1 id="oefeningen-collectionviews-models-en-repositories">Oefeningen CollectionViews, Models en Repositories</h1>

    <h2 id="setup">Setup</h2>
    <ul>
        <li>Open het project <code>MauiOefeningen</code>.</li>
        <li>Maak een <code>BaseViewModel</code> aan en voeg een <em>[ObservableProperty]</em> toe voor <em>title</em> en <em>getal</em>.</li>
        <li>Maak een map <code>Models</code> aan.</li>
    </ul>

    <h2 id="oefening-getallenrij">Oefening GetallenRij</h2>
    <p>Maak een view GetallenRij die er als volgt uitziet:</p>
    <p><img src="images/exercises/ex04/ex04_01.png" alt="Getallenrij 2" style="max-width: 100%; height: auto;" /></p>

    <p>Voeg getallen toe aan een ObservableCollection en bepaal het hoogste en het laagste getal. Een getal mag niet groter zijn dan 20. Indien dat het geval is, toon je een gepaste foutboodschap. Toon de rij in een CollectionView.</p>
    <p><img src="images/exercises/ex04/ex04_02.png" alt="Getallenrij resultaat" style="max-width: 100%; height: auto;" /></p>

    <p>Probeer ook eens om een getal te verwijderen op een bepaalde plaats?</p>

    <h2 id="oefening-factuur">Oefening Factuur</h2>
    <p>In deze opdracht ga je een factuur maken. Je maakt eerst een model Product met volgende properties: Naam, Prijs, Aantal en Totaal (Prijs x Aantal). Voeg nieuwe items toe aan een ObservableCollection <em>producten</em>. Elke keer je een nieuw product toevoegt, bereken je het subtotaal, btw en totaalprijs. Het resultaat ziet er als volgt uit:</p>
    <p><img src="images/exercises/ex04/ex04_03.png" alt="Factuur" style="max-width: 100%; height: auto;" /></p>
</div>
