<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OrdersConnectionString" connectionString="Server=localhost;Database=Orders;TrustServerCertificate=true;User Id=sa; Password=Pass.Word;" providerName="Microsoft.Data.SqlClient" />
		<add name="OrdersConnectionString2" connectionString="Server=localhost\MSSQLSERVER01;Database=Orders;Integrated Security=True;TrustServerCertificate=true;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>